<div class="row flex">
    <div class="col-xs-7">
        <canvas id="canvas" width="600" height="700"></canvas>
    </div>
    <div class="flex flex-column col-xs-5">
        <div class="top-room col-xs-8 col-xs-offset-2">
            <div ng-repeat="(db, name) in layout.dbColumns track by $index">
                <button ng-click="layout.select(db)" type="button" class="button flex-width" ng-class="{'button-outline': !layout.isSelected(db)}">{{ name }}</button>
            </div>
        </div>

        <div class="pin bottom space between">
            <button ng-click="layout.reset()" type="button" class="button button-outline">Reset Layout</button>
            <button ng-click="layout.next()" type="button" name="button">Next</button>
        </div>
    </div>
</div>
