<div class="row center-xs">

    <table>
        <thead>
        <th>Missed Drugs (Add these to your Vial Configuration)</th>
        </thead>
        <tbody>
        <tr ng-repeat="drug in done.unhandledDrugs">
            <td>{{ drug }}</td>
        </tr>
        </tbody>
    </table>

    <div class="flex space around">
        <button class="button" ng-click="done.process()">Process</button>
        <button class="button" ng-click="done.backup()">Backup Data</button>
    </div>
</div>
<canvas id="canvas" width="600" height="1000"></canvas>
<img ng-src="{{ done.image }}" alt="">
