<div class="row flex-column middle-xs center-xs flex">
	<div>
		<h3>Welcome to the Auto Waste Log Filler</h3>
		<div class="container">
			<h6>Press Next To Continue</h6>
		</div>
	</div>

	<div class="row flex-rest center-xs middle-xs">
		<div class="col-xs-4">
		<p class="leggible">
			Please choose which campus you are doing waste for.
		</p>
			<select ng-model="home.CampusService.campus" ng-options="campus as campus for campus in home.CampusService.campuses">
				<option>lol</option>
			</select>
		</div>
	</div>

	<div class="row bottom-xs column column-offset-75">
		<button ui-sref="waste-upload">Next</button>
	</div>
</div>
