<div class="flex">
    <div class="row">
        <div class="col-xs-5">
            <canvas id="canvas" width="475" height="600"></canvas>
        </div>
        <div class="flex col-xs-7">
            <div class="row bottom-xs space between">
                <div class="col-xs-4">
                    <label for="">Drug</label>
                    <input type="text" ng-model="filler.searchDrug">
                </div>
                <div class="col-xs-4">
                    <label for="">Date</label>
                    <input type="text" ng-model="filler.searchDate">
                </div>
                <div>
                    <button id='searchButton' class="" type="button" name="button" ng-click="filler.search()">Search</button>
                </div>
            </div>

            <div class="drug-table">
                <table>
                    <thead>
                        <th>Drug</th>
                        <th>Date/Time</th>
                        <th>Units</th>
                    </thead>
                    <tbody>
                        <tr class="selectable" ng-repeat="result in filler.results" ng-click="filler.select(result)">
                            <td>{{ result.dataValues.charge_code_descriptor }}</td>
                            <td>{{ result.dataValues.when | date }}</td>
                            <td>{{ result.dataValues.units }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row top-room">
        <div class="row col-xs-5">
            <div class="row center-xs">
                <h4>{{ filler.page + 1 }}
                    of
                    {{ filler.pages.length }}</h4>
            </div>
        </div>
        <div class="col-xs-6 space around">
            <button type="button" name="button">&lt&lt Previous</button>
            <button type="button" name="button">Next &gt&gt</button>
        </div>
    </div>
</div>
