<div class="flex">
    <div class="row">
        <div class="col-xs-5">
            <canvas id="canvas" width="475" height="600"></canvas>
        </div>
        <div class="flex col-xs-7">
            <div class="row bottom-xs space between" ng-enter="filler.search()">
                <div class="col-xs-4">
                    <label for="">Drug</label>
                    <input type="text" ng-model="filler.searchDrug">
                </div>
                <div class="col-xs-4">
                    <label for="">Date</label>
                    <input type="text" ng-model="filler.searchDate">
                </div>
                <div>
                    <button id='searchButton' class="" type="button" name="button" ng-click="filler.search()">Search
                    </button>
                </div>
            </div>

            <div class="row center-xs bottom-xs" ng-class="{invisible: !filler.currentPage().waste_log}">
                <div class="col-xs-4">
                    <label for="">Wasted Amount({{ filler.currentPage().matchingVial.unit }})</label>
                    <input ng-enter="filler.updateWastedAmount()" type="text" ng-model="filler.currentPage().wasted_amount">
                </div>
                <div class="col-xs-1">
                    <button ng-click="filler.updateWastedAmount()" class="button button-outline button-bottom-room">
                        Update
                    </button>
                </div>
            </div>

            <div class="drug-table">
                <table>
                    <thead>
                    <th>Drug</th>
                    <th>Date/Time</th>
                    <th>Units</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    <tr class="selected" ng-show="filler.currentPage().waste_log">
                        <td>{{ filler.currentPage().waste_log.charge_code_descriptor }}</td>
                        <td>{{ filler.currentPage().waste_log.when | date: 'short' }}</td>
                        <td>{{ filler.currentPage().waste_log.units }}</td>
                        <td>NA</td>
                    </tr>
                    <tr class="selectable" ng-class="{strange: filler.isResultStrange(result)}" ng-repeat="result in filler.results">
                        <td>{{ result.dataValues.charge_code_descriptor }}</td>
                        <td>{{ result.dataValues.when | date: 'short' }}</td>
                        <td>{{ result.dataValues.units }}</td>
                        <td>
                            <button type="button" name="button" ng-click="filler.select(result, false)">Select</button>
                            <button type="button" name="button" ng-click="filler.select(result, true)">Only Paitent
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row top-room">
        <div class="row col-xs-6">
            <div class="row center-xs middle-xs space around">
                <h5 class="col-xs-3"
                    ng-class="{done: filler.currentPage().waste_log, incomplete: !filler.currentPage().waste_log, problematic: filler.currentPage().problematic}">
                    {{ filler.currentPage().problematic ? 'Problematic' : (filler.currentPage().waste_log ? 'Complete' : 'Incomplete') }}
                </h5>
                <h5 class="col-xs-3">{{ filler.page + 1 }}
                    of
                    {{ filler.pages.length }}
                </h5>
            </div>
            <div class="row space around">
                <button class="button button-outline col-xs-3" ng-click="filler.setAsProblem()">Problem</button>
                <button class="button button-outline col-xs-3" ng-click="filler.nextIncomplete()">Next Incomplete
                </button>
            </div>
        </div>
        <div class="col-xs-6 space around top-room">
            <button type="button" name="button" ng-click="filler.previous()">&lt&lt Previous Log</button>
            <button type="button" name="button" ng-click="filler.next()">Next Log &gt&gt</button>
            <button type="button" name="button" ng-click="filler.nextPage()">Next</button>
        </div>
    </div>
</div>
